section {
  position: relative;
  z-index: 10;
  margin: 2rem;
  justify-content: flex-start;
}

.filter_tab {
  padding: 1.5rem;
  width: max-content;
  height: max-content;
  border-radius: 1rem;
  gap: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filters {
  width: max-content;
}

.map_tab {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: aliceblue;
  position: absolute;
  top: 0;
}

.mobile_filter_tab_button {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  margin: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .filter_tab {
    padding: 2rem 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
