@import 'tailwindcss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav > ul {
  gap: 1.5rem;
  list-style: none;
}

nav > ul > li > * {
  display: flex;
  color: #000;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #0077ff;
}

.profile_button {
  display: flex;
  align-items: center;
  color: #000;
  gap: 0.5rem;
  background-color: #f3f4f6;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
}
.profile_menu {
  border: lightgray 1px solid;
}

@media (max-width: 768px) {
  .profile_button {
    padding: 0;
    gap: 0;
    background-color: transparent;
  }
}
